.general-subject {
  margin-bottom: 55px;
  @media (max-width: 980px) {
    margin-bottom: 30px;
  }
  &__title {
    color: $f-color1;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 20px;
    @media (max-width: 980px) {
      padding: 5px;
      gap: 10px;
      font-size: 14px;
    }
    @media (max-width: 480px) {
      font-size: 10px;
    }
    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }
    &:nth-child(5) {
      border-right: none;
    }
    &:nth-child(n + 6) {
      border-top: 1px solid $border-color;
    }
    &__name {
      color: #000000;
      font-size: 16px;
      line-height: 16px;
    }
    @media (max-width: 980px) {
      &:not(:last-child) {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      &:nth-child(n + 6) {
        border-top: none;
      }
      &:nth-child(3) {
        border-right: none;
      }
      &:nth-child(6) {
        border-right: none;
      }
      &:nth-child(9) {
        border-right: none;
      }
    }
    @media (max-width: 480px) {
      &:not(:last-child) {
        border-right: none;
        border-bottom: none;
      }
      &:nth-child(odd) {
        border-right: 1px solid $border-color;
      }
      &:not(:nth-child(2)) {
        border-top: 1px solid $border-color;
      }

      &:not(:nth-child(1)) {
        border-top: 1px solid $border-color;
      }
    }
  }
}

.accordion-item {
  background: none;
  border: none;
}
.accordion-button {
  border: 0;
  width: 32px;
  height: 34px;
}
.accordion-button:focus {
  border: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}
.accordion-button.collapsed::after {
  content: '';
  width: 32px;
  height: 34px;
  background: url('../img/icons/general_subjects/plus.svg') center no-repeat,
    #e0eef9;
  position: absolute;
  left: 34px;
  top: 0;
}

.accordion-button:not(.collapsed)::after {
  content: '';
  width: 32px;
  height: 34px;
  background: #e0eef9;
  position: absolute;
  left: 0;
  top: 0;
}

.accordion-header {
  line-height: 34px;
}

.accordion-title-wrap {
  display: flex;
  gap: 13px;
}
