.result {
  background-image: url(../img/icons/results/background.png);
  background-color: $bg-color2;

  background-repeat: repeat;
  padding: 86px 0 0 0;
  color: #fff;
  @media (max-width: 768px) {
    padding: 40px 10px 0;
  }
  &__wrap {
    margin: 0 auto;
    max-width: 988px;
  }
  &__title {
    color: white;
    margin-bottom: 38px;
  }
  &__button {
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
    text-align: left;
    padding-left: 40px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      background: url(../img/icons/results/minus.svg) center no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      right: 40px;
      top: 29px;
      width: 12px;
      height: 2px;
    }
    @media (max-width: 1200px) {
      display: block;
      width: 95%;
      margin: 0 auto 30px;
    }
  }
  &__students {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
  &__body {
    margin-bottom: 72px;

    @media (max-width: 1100px) {
      padding: 0 20px;
      margin-bottom: 35px;
    }
    h5 {
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      margin-bottom: 35px;
    }
  }
  &__column {
    flex: 0 0 47%;
  }
  &__desc {
    font-size: 20px;
    line-height: 30px;
    width: 400px;
    height: 60px;
    margin-bottom: 25px;
    span {
      color: $color1;
      font-weight: 900;
    }
    @media (max-width: 480px) {
      font-size: 16px;
      margin-bottom: 15px;
      line-height: 24px;
      width: 100%;
      padding: 0 10px;
    }
  }
  &__list {
    padding-left: 0;
  }
  &__item {
    display: flex;
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
    span {
      font-size: 15px;
    }
    h6 {
      font-size: 16px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
    p {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 0;
    }
  }
  &__precent {
    font-family: $font2;
    background: -webkit-linear-gradient(#ffa945, #fff845, #ffa945, #dd933d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: contain;
    padding: 32px 32px 32px 38px;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      font-size: 20px;
      padding: 20px 20px 20px 20px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 110px;
      height: 110px;
      top: 0;
      left: 0;
      background: url(../img/icons/results/results1.svg) no-repeat center;
      @media (max-width: 768px) {
        width: 70px;
        height: 70px;
        background-size: contain;
      }
    }
  }
  &__text {
    border-radius: 10px;
    background: linear-gradient($bg-color2, $bg-color2) padding-box,
      linear-gradient(to right, #090a59, #0ebed9) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    height: 80px;
    padding: 24px 28px 0px 62px;
    transform: translateX(-42px);
    flex: 0 0 85%;
  }
  &__tech {
    display: flex;

    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }
  }
  &__point {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1100px) {
      flex: 0 0 50%;
      margin-bottom: 30px;
    }
  }
  &__icon {
    background: url(../img/icons/results/results2.png) no-repeat center;
    background-size: contain;
    width: 118px;
    height: 118px;
    font-size: 24px;
    color: $color1;
    font-weight: 700;
    font-family: $font2;
    line-height: 118px;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    @media (max-width: 1100px) {
      width: 80%;
    }
  }
}

.collapsed {
  &::after {
    content: '';
    background: url(../img/icons/results/plus.svg) center no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    right: 40px;
    top: 24px;
    width: 12px;
    height: 12px;
  }
}
